{% extends "admin/admin_dashboard.html" %} 
{% block title %}Create user{% endblock %} 

{% block content %}
<div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>
</div>

<br>
<br>
<br>

<div id="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert {{ 'alert-' + category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<form method="POST" class="form-container">
    <h3 class="form-title">Create a new user</h3>
    <div class="left-column">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" required/> 
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" required/> 
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required/> 
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required/> 
        </div>
        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required/> 
        </div>
    </div>
    
    <div class="left-column">
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required/> 
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone" required/> 
        </div>
        
        <div class="form-group">
            <label for="department">Department:</label>
            <select id="department" name="department" class="form-control" required>
                <option value="" disabled selected>Select Department</option>
                {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="role">Role</label>
            <select id="role" name="role" class="form-control" required>
                <option value="" disabled selected>Select Role</option>
                {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url_for('admin_views.admin_dashboard') }}" class="btn btn-cancel">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}


